@view-transition {
  navigation: auto;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

#hero {
  text-align: center;
}

table {
  width: 100%;
  padding: 10px;
}

thead {
  text-align: center;
  background-color: #2c5e77;
  color: white;
}

tbody {
  background-color: #e4f0f5;
}

th {
  padding: 10px;
}

tr {
  text-align: center;
}

td {
  padding: 5px;
  vertical-align: middle;
}

td img,
td span,
td svg {
  height: 20px;
  vertical-align: middle;
}

nav {
  margin: 0;
  padding: 0;

}

nav > ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #333333;
}

nav > ul > li {
  float: left;
}

nav > ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > ul > li > a:focus {
  outline: none;
}

nav > ul > li > a:hover {
  background-color: #111111;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#height, #weight {
  display: flex;
  flex-direction: column;
}

input {
  display: flex;
  justify-content: center;
  padding: 12px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: #2c5e77;
  box-shadow: none;
}

input[type=number] {
  transition: width 150ms ease-in-out;
  width: 80px;
}

input[type=number]:focus {
  width: 90px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}

input[type=submit] {
  background-color: #e4f0f5;
  color: black;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

input[type=submit]:focus {
  background-color: #2c5e77;
  color: white;
  border: none;
  outline: none;
  box-shadow: none;
}

#result {
  text-align: center;
}
