@view-transition {
  navigation: auto;
}

td.bmi-normal {
  font-weight: bold;
  color: black;
  background-color: #00FF00FF;
  cursor: pointer;
  transition: scalling 150ms ease-in-out;
}

td.bmi-overweight {
  font-weight: bold;
  color: black;
  background-color: #FF00007F;
  cursor: pointer;
  transition: box-shadow 75ms ease-in-out;
}

td.bmi-normal:hover, td.bmi-overweight:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}
